.SinglePost {
  background: var(--lightGrey);
}

.SinglePost--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.SinglePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SinglePost--Content {
  background: white;
  padding: 8rem 8rem 4rem 8rem;
}

@media screen and (max-width: 750px) {
  .SinglePost--Content {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 580px) {
  .SinglePost--Content {
    padding: 4rem 2rem;
  }
}

.SinglePost--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.2;
}

.SinglePost--SubTitle {
  font-weight: 600;
  text-align: left;
  line-height: 1.4;
}

.SinglePost--InnerContent {
  padding: 3rem 0 0 0;
  text-align: justify;
}

@media screen and (max-width: 750px) {
  .SinglePost--InnerContent {
    padding: 2rem 0 0 0;
  }
}

@media screen and (max-width: 580px) {
  .SinglePost--InnerContent {
    padding: 1rem 0 0 0;
  }
}

.SinglePost--Pagination {
  margin: 8rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}

table {
  margin: 3rem 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

@media screen and (max-width: 750px) {
  table {
    padding: 2rem;
  }
}

@media screen and (max-width: 5800px) {
  table {
    padding: 0rem;
  }
}

th, td {
  text-align: left;
  padding-bottom: 1rem;
}
th {
  max-width: 20%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {background-color: #f5f5f5;}
