.CardsSection {
}

.CardsSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.CardsSection button {
  margin-top: 1rem;
  margin-top: 5rem;
  background: white;
  border: 2px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.CardsSection button:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.CardsSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .CardsSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .CardsSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

@supports (display: grid) {
  @media screen and (min-width: 1280px) {
    .CardsSection--Grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5rem;
    }
  
    .CardsSection--Grid > * {
      width: auto;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 888px) {
  .CardsSection--Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .CardsSection--Grid > * {
    width: auto;
    /* margin: 2rem; */
    }
  }

  @media screen and (max-width: 580px) {
    .CardsSection--Grid > * {
      margin: 0 auto 4rem;
      display: block;
    }

    .CardsSection--Grid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}

.CardsSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}
