.EmploymentCard {
  width: 100%;
  text-decoration: none;
  background: var(--primaryBackground);
  color: inherit;
  border: var(--boxBorderBase);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadowBase);
  transition: var(--boxTransition);
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 2rem;
}

.EmploymentCard:hover,
.EmploymentCard:focus {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.EmploymentCard--Details--Row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
}

.EmploymentCard--Details--Left {
  padding: 1rem 1rem 1rem;
  display: block;
  width: 35%;
}

.EmploymentCard--Details--Right {
  padding: 1rem 3rem 1rem 1rem;
  display: block;
  width: 65%;
}

.EmploymentCard--Details--Item {
  display: inline-block;
  text-align: justify;
  align-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--lightGrey);
  text-decoration: none;
  color: inherit;
}

a.EmploymentCard--Details--Item:hover,
a.EmploymentCard--Details--Item:focus{
  transition: color 0.2s ease-in-out;
  color: var(--primary);
}

.EmploymentCard--Title {
  margin: 0 0 0 1rem;
  flex: 1 1 30%;
  order: 2;
}