.FlexCard {
  width: 100%;
  text-decoration: none;
  background: var(--primaryBackground);
  color: inherit;
  border: var(--boxBorderBase);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadowBase);
  transition: var(--boxTransition);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 2rem;
}

.FlexCard--Content {
  padding: 0 2.5rem 2.5rem;
}

.FlexCard:hover,
.FlexCard:focus {
  box-shadow: var(--boxShadowFocus);

}

.FlexCard--Content--Row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
}

.FlexCard--Content--Left {
  padding: 1rem 1rem 1rem;
  display: block;
  width: 35%;
}

.FlexCard--Content--Right {
  padding: 1rem 3rem 1rem 1rem;
  display: block;
  width: 65%;
}

.FlexCard--Content--Item {
  display: inline-block;
  text-align: justify;
  align-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--lightGrey);
  text-decoration: none;
  color: inherit;
}

a.FlexCard--Content--Item:hover,
a.FlexCard--Content--Item:focus{
  transition: color 0.4s ease-in-out;
  color: var(--primary);
}

.FlexCard--Title {
  margin: 0 0 0 1rem;
  flex: 1 1 30%;
}

.FlexCard--Swipe {
  display: none;
}

.FlexCard--Hide{
  border-top: 1px solid var(--lightGrey);
  display: block;
}

.FlexCard:hover .FlexCard--Content .FlexCard--Swipe,
.FlexCard:focus .FlexCard--Content .FlexCard--Swipe {
  margin:0;
  position:relative;
  top: 0;
  left: 0;
  display: block;
}

.FlexCard:hover .FlexCard--Content .FlexCard--Hide ,
.FlexCard:focus .FlexCard--Content .FlexCard--Hide {
  display: none;
}
