.InfoCard {
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  overflow: visible;
  display: flex;
  flex-direction: column;
}

img .InfoCard--Image--Image{
  position: relative;
  opacity: 0.8;
}

.InfoCard:hover,
.InfoCard:focus {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  background: linear-gradient(#180447e3, #231283);
  color: white;
  animation: colorBg 0.6s 1;
}

@keyframes colorBg {
  from {
    color:black;
    background-color: white;
  }
  to {
    color:white;
    background: linear-gradient(#180447e3, #231283);
  }
}

.InfoCard--Image {
  margin: -100px 0 0 0;
  padding-top: 0px;
  display: inline-block;
  text-align: center;
}

.InfoCard--Title {
  font-size: medium;
  text-align: center;
  padding: 2rem 2rem 1rem;
}

.InfoCard--Content {
  font-size: 1.5rem;
  padding: 0 2rem 2rem;
  text-align: justify;
  flex: 1 1 auto;
}

.InfoCard--Footer{
  text-align: center;
  display: flex;
  justify-content: center;
}