.InfoCard {
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.InfoCard:hover,
.InfoCard:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.InfoCard--Image {
  margin: -25px 0 0 0;
  display: flex;
  max-height: 50px;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}

.InfoCard--Title {
  padding: 2.5rem 2.5rem 1rem;
}

.InfoCard--Content {
  padding: 0 2.5rem 2.5rem;
}
