.PriceCard {
  margin-top: 100px;
  text-decoration: none;
  background: white;
  color: inherit;
  border: 1px solid var(--lightGrey);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
  /* overflow: hidden; */
  justify-content: stretch;
  text-align: center;
}

.PriceCard--Title {
  position: relative;
  display: inline-block;
  /* padding: 2rem; */
  /* margin: -3rem 0 2rem 0; */
  /* border: 2px solid var(--lightGrey); */
  background-color: white;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
}

.PriceCard--Content {
  padding: 0 2.5rem 2.5rem;
}