.ServiceCard {
  text-decoration: none;
  background: var(--prmaryBackground);
  color: inherit;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ServiceCardPopup {
  text-decoration: none;
  background: var(--prmaryBackground);
  color: inherit;
  text-align: center;
}

.ServiceCard:hover,
.ServiceCard:focus {
  transform: translateY(-1px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@keyframes colorBg {
  from {
    color:black;
    background-color: white;
  }
  to {
    color:white;
    background: linear-gradient(#180447e3, #231283);
  }
}

.ServiceCard--Title {
  font-size: larger;
  text-align: center;
  padding: 2rem 2rem 1rem;
  flex: 1 1 content;
}

.ServiceCard--Image--Container {
  margin: -5rem 0 0 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.ServiceCard--Image{
  position: relative;
  height: 200px;
  width: auto;
  opacity: 0.8;
  padding-top: 25px;
}

.ServiceCard--Content {
  font-size: 1.5rem;
  padding: 0 2rem 2rem;
  text-align: justify;
  flex: 1 1 auto;
}

.ServiceCard--Footer{
  text-align: center;
  display: flex;
  justify-content: center;
}

